<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>Gerenciamento do App MyCar</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Numans&family=Nunito&display=swap" rel="stylesheet"/>

        <link rel="stylesheet" th:href="@{/css/reset.css}"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>

    </head>

    <body>

        <div class="quadro qdr-large">

            <img src="/img/mycar.png" class="logo"/>
            <h1 class="titulo">Atualizar Cliente</h1>

            <div class="botoes">
                <a th:href="@{/}">
                    <button class="btn btn-black">Home</button>
                </a>
                <a th:href="@{/formListaCliente}">
                    <button class="btn btn-gray">Voltar</button>
                </a>
            </div>

            <form action="#" th:action="@{/salvarCliente}" th:object="${cliente}" method="POST" class="card pd-medium">
                <div class="card dpy-flex rd-medium pd-small">
                    <div class="wd-full">
                        <input type="hidden" th:field="*{id}"/>
                        <p>Nome: <input type="text" th:field="*{nome}" placeholder="Insira o nome" class="wd-large"/></p>
                        <p>E-mail: <input type="text" th:field="*{email}" placeholder="Insira o e-mail" class="wd-large"/></p>
                        <p>CPF: <input type="text" th:field="*{cpf}" placeholder="Insira o CPF" class="wd-medium"/></p>
                        <p>Data de nascimento: <input type="text" th:field="*{data_nascimento}" placeholder="Insira a data de nascimento" class="wd-small"/></p>
                        <p>Gênero: <input type="text" th:field="*{genero}" placeholder="Insira o gênero" class="wd-small"/></p>
                        <p>Telefone: <input type="text" th:field="*{telefone}" placeholder="Insira o telefone" class="wd-small"/></p>
                        <p>Celular: <input type="text" th:field="*{celular}" placeholder="Insira o celular" class="wd-small"/></p>
                    </div>
                    <div class="wd-full"> 
                        <p>Endereço: <input type="text" th:field="*{endereco}" placeholder="Insira o endereço" class="wd-large"/></p>
                        <p>Número: <input type="text" th:field="*{numero}" placeholder="Insira o número" class="wd-small"/></p>
                        <p>Bairro: <input type="text" th:field="*{bairro}" placeholder="Insira o bairro" class="wd-medium"/></p>
                        <p>Cidade: <input type="text" th:field="*{cidade}" placeholder="Insira a cidade" class="wd-medium"/></p>
                        <p>Estado: <input type="text" th:field="*{estado}" placeholder="Insira o estado" class="wd-small"/></p>
                        <p>CEP: <input type="text" th:field="*{cep}" placeholder="Insira o CEP" class="wd-small"/></p>
                        <p>Data de cadastro: <input type="text" th:field="*{data_cadastro}" placeholder="Insira a data de cadastro" class="wd-small"/></p>
                    </div>
                </div>
                <button type="submit" class="btn btn-green">Atualizar</button>
            </form>

        </div>

    </body>

</html>