<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>Gerenciamento do App MyCar</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Numans&family=Nunito&display=swap" rel="stylesheet"/>

        <link rel="stylesheet" th:href="@{/css/reset.css}"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>

    </head>

    <body>

        <div class="quadro qdr-medium" id="fundo">

            <a th:href="@{/empreendedorHomePage}"><img src="/img/fechar.png" class="icon icn-fechar"/></a>
            <a><img src="/img/interrogacao.png" class="icon icn-ajuda" id="ajudaBtn" onclick="mostrarPopup()"/></a>
            <a onclick="limparInputs()"><img src="/img/limpar.png" class="icon icn-limpar"/></a>

            <img src="/img/mycar.png" class="logo"/>
            <h1 class="titulo">Inserir Empreendedor</h1>

            <form action="#" th:action="@{/salvarEmpreendedor}" th:object="${empreendedor}" method="POST" class="card pd-medium">
                <div class="dpy-flex rd-medium pd-small">
                    <div class="wd-full">
                        <p>Tipo de empreendedor: <select th:field="*{tipo_emp}" class="wd-small">
                                <option value="Empresarial">Empresarial</option>
                                <option value="Individual">Individual</option>
                                <option value="Franquia">Franquia</option>
                                <option value="Digital">Digital</option>
                            </select></p>
                        <p>Nome: <input type="text" th:field="*{nome}" placeholder="Insira o nome" class="wd-medium"/></p>
                        <p>CPF: <input type="text" th:field="*{cpf}" placeholder="Insira o CPF" class="wd-small"/></p>
                        <p>Data de cadastro: <input type="date" th:field="*{data_cadastro}" class="wd-small"/></p>
                    </div>
                </div>
                <button type="submit" class="btn btn-green">Salvar</button>
            </form>

        </div>

        <div id="popupAjuda" class="popup rd-medium pd-large">
            <img src="/img/fechar.png" class="icon icn-fechar" onclick="fecharPopup()"/>
            <img src="/img/mycar.png" class="logo"/>
            <h1 class="titulo pd-medium">Precisa de ajuda!</h1>
            <p class="mensagem crd-white text tex-small">
                <span>- Dica!</span> Na tela de INSERIR EMPREENDEDOR você pode adicionar um novo empresário ao usuário.<br/>
                <span>- Campos obrigatórios:</span> Os campos com * são de preenchimento obrigatório.<br/>
                <span>- Validações:</span> Fique atento as validações necessárias.
            </p>
        </div>

        <script th:src="@{/js/script.js}"></script>

    </body>

</html>