<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>Gerenciamento do App MyCar</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Numans&family=Nunito&display=swap" rel="stylesheet"/>

        <link rel="stylesheet" th:href="@{/css/reset.css}"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>

    </head>

    <body>

        <div class="quadro qdr-large" id="fundo">

            <a th:href="@{/formListaVeiculo}"><img src="/img/fechar.png" class="icon icn-fechar"/></a>
            <a><img src="/img/interrogacao.png" class="icon icn-ajuda" id="ajudaBtn" onclick="mostrarPopup()"/></a>
            <a onclick="limparInputs()"><img src="/img/limpar.png" class="icon icn-limpar"/></a>

            <img src="/img/mycar.png" class="logo"/>
            <h1 class="titulo">Atualizar Veiculo</h1>

            <div class="card pd-small">
                <form action="#" th:action="@{/salvarVeiculo}" th:object="${veiculo}" method="POST" class="pd-medium">
                    <div class="dpy-flex rd-medium pd-small">
                        <div class="wd-full">
                            <input type="hidden" th:field="*{id}"/>
                            <p>Marca: <select th:field="*{marca}" class="wd-medium">
                                    <option value="Abarth">Abarth</option>
                                    <option value="Aiways">Aiways</option>
                                    <option value="Alfa Romeo">Alfa Romeo</option>
                                    <option value="Alpine">Alpine</option>
                                    <option value="Aston Martin">Aston Martin</option>
                                    <option value="Audi">Audi</option>
                                    <option value="Bentley">Bentley</option>
                                    <option value="BMW">BMW</option>
                                    <option value="BYD">BYD</option>
                                    <option value="Citroën">Citroën</option>
                                    <option value="Cupra">Cupra</option>
                                    <option value="Dacia">Dacia</option>
                                    <option value="DS">DS</option>
                                    <option value="Ferrari">Ferrari</option>
                                    <option value="Fiat">Fiat</option>
                                    <option value="Ford">Ford</option>
                                    <option value="Honda">Honda</option>
                                    <option value="Hyundai">Hyundai</option>
                                    <option value="Jaguar">Jaguar</option>
                                    <option value="JEEP">JEEP</option>
                                    <option value="KIA">KIA</option>
                                    <option value="Lamborghini">Lamborghini</option>
                                    <option value="Land Rover">Land Rover</option>
                                    <option value="Lexus">Lexus</option>
                                    <option value="Lotus">Lotus</option>
                                    <option value="Maserati">Maserati</option>
                                    <option value="Mazda">Mazda</option>
                                    <option value="Mercedes-Benz">Mercedes-Benz</option>
                                    <option value="MG">MG</option>
                                    <option value="MINI">MINI</option>
                                    <option value="Mitsubishi">Mitsubishi</option>
                                    <option value="Nissan">Nissan</option>
                                    <option value="Opel">Opel</option>
                                    <option value="Peugeot">Peugeot</option>
                                    <option value="Polestar">Polestar</option>
                                    <option value="Porsche">Porsche</option>
                                    <option value="Renault">Renault</option>
                                    <option value="SEAT">SEAT</option>
                                    <option value="Škoda">Škoda</option>
                                    <option value="Smart">Smart</option>
                                    <option value="Suzuki">Suzuki</option>
                                    <option value="TESLA">TESLA</option>
                                    <option value="Toyota">Toyota</option>
                                    <option value="Volkswagen">Volkswagen</option>
                                    <option value="Volvo">Volvo</option>
                                </select></p>
                            <p>Modelo: <input type="text" th:field="*{modelo}" placeholder="Insira o modelo" class="wd-medium"/></p>
                            <p>Versão: <input type="text" th:field="*{versao}" placeholder="Insira a versão" class="wd-small"/></p>
                            <p>Ano de fabricação: <input type="text" th:field="*{ano_fabricacao}" placeholder="Insira o ano" class="wd-small"/></p>
                            <p>Ano do modelo: <input type="text" th:field="*{ano_modelo}" placeholder="Insira o ano" class="wd-small"/></p>
                            <p>Placa: <input type="text" th:field="*{placa}" placeholder="Insira a placa" class="wd-medium"/></p>
                            <p>Renavam: <input type="text" th:field="*{renavam}" placeholder="Insira o Renavam" class="wd-medium"/></p>
                        </div>
                        <div class="wd-full"> 
                            <p>Chassis: <input type="text" th:field="*{chassis}" placeholder="Insira o chassis" class="wd-medium"/></p>
                            <p>Código do motor: <input type="text" th:field="*{cod_motor}" placeholder="Insira código do motor" class="wd-medium"/></p>
                            <p>Válvulas: <input type="text" th:field="*{valvulas}" placeholder="Insira as válvulas" class="wd-small"/></p>
                            <p>Cilíndros: <input type="text" th:field="*{cilindros}" placeholder="Insira os cilíndros" class="wd-small"/></p>
                            <p>Cilindradas: <input type="text" th:field="*{cilindradas}" placeholder="Insira as cilindradas" class="wd-small"/></p>
                            <p>Cor: <input type="text" th:field="*{cor}" placeholder="Insira a cor" class="wd-medium"/></p>
                            <p>Opcionais: <input type="" th:field="*{opcionais}" placeholder="Insira os opcionais" class="wd-medium"/></p>
                        </div>
                        <div class="wd-full"> 
                            <p>Tração: <select th:field="*{tracao}" class="wd-medium">
                                    <option value='Automotor'>Automotor</option>
                                    <option value='Elétrico'>Elétrico</option>
                                </select></p>
                            <p>Categoria: <select th:field="*{categoria}" class="wd-medium">
                                    <option value='Aluguel'>Aluguel</option>
                                    <option value='Aprendizagem'>Aprendizagem</option>
                                    <option value='Oficial'>Oficial</option>
                                    <option value='Particular'>Particular</option>
                                    <option value='Representação Diplomática'>Representação Diplomática</option>
                                </select></p>
                            <p>Espécie: <select th:field="*{especie}" class="wd-medium">
                                    <option value='Carga'>Carga</option>
                                    <option value='Coleção'>Coleção</option>
                                    <option value='Competição'>Competição</option>
                                    <option value='Especial'>Especial</option>
                                    <option value='Misto'>Misto</option>
                                    <option value='Passageiros'>Passageiros</option>
                                    <option value='Tração'>Tração</option>
                                </select></p>
                            <p>Tipo: <select th:field="*{tipo}" class="wd-medium">
                                    <option value='Automóvel'>Automóvel</option>
                                    <option value='Bicicleta'>Bicicleta</option>
                                    <option value='Caminhão'>Caminhão</option>
                                    <option value='Caminhonete'>Caminhonete</option>
                                    <option value='Camioneta'>Camioneta</option>
                                    <option value='Ciclomotor'>Ciclomotor</option>
                                    <option value='Conversível'>Conversível</option>
                                    <option value='Coupé'>Coupé</option>
                                    <option value='Hatch'>Hatch</option>
                                    <option value='Jipe'>Jipe</option>
                                    <option value='Micro-ônibus'>Micro-ônibus</option>
                                    <option value='Minivan'>Minivan</option>
                                    <option value='Motocicleta'>Motocicleta</option>
                                    <option value='Motoneta'>Motoneta</option>
                                    <option value='Ônibus'>Ônibus</option>
                                    <option value='Perua'>Perua</option>
                                    <option value='Pickup'>Pickup</option>
                                    <option value='Quadriciclo'>Quadriciclo</option>
                                    <option value='Reboque'>Reboque</option>
                                    <option value='Sedan'>Sedan</option>
                                    <option value='SUV'>SUV</option>
                                    <option value='Trator'>Trator</option>
                                    <option value='Triciclo'>Triciclo</option>
                                    <option value='Utilitário'>Utilitário</option>
                                    <option value='Van'>Van</option>
                                </select></p>
                            <p>Combustível: <select th:field="*{combustivel}" class="wd-medium">
                                    <option value='Diesel'>Diesel</option>
                                    <option value='Etanol'>Etanol</option>
                                    <option value='Flex'>Flex</option>
                                    <option value='Gasolina'>Gasolina</option>
                                    <option value='GNV'>GNV</option>
                                </select></p>
                            <p>Ativo: <select th:field="*{ativo}" class="wd-small">
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                                </select></p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-green">Atualizar</button>
                </form>

            </div>
        </div>

        <div id="popupAjuda" class="popup rd-medium pd-large">
            <img src="/img/fechar.png" class="icon icn-fechar" onclick="fecharPopup()"/>
            <img src="/img/mycar.png" class="logo"/>
            <h1 class="titulo pd-medium">Precisa de ajuda!</h1>
            <p class="mensagem crd-white text tex-small">
                <span>- Dica!</span> Na tela de ATUALIZAR VEÍCULO você pode atualizar os dados do(s) veículo(s) do usuário.<br/>
                <span>- Campos obrigatórios:</span> Os campos com * são de preenchimento obrigatório.<br/>
                <span>- Validações:</span> Fique atento as validações necessárias.
            </p>
        </div>

        <script th:src="@{/js/script.js}"></script>

    </body>

</html>