/*Estilo dos cabeçalhos*/
.logo{
    width: 150px;
}

.titulo{
    font-family: Nunito;
    font-size: 40px;
    font-weight: bolder;
}

.subtitulo{
    font-family: Nunito;
    font-size: 20px;
    font-weight: normal;
    margin: 30px;
}

/*Estilo dos botões*/
.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes img{
    width: 140px;
    cursor: pointer;
    padding: 10px;
}

.botoes img:hover{
    transform: scale(1.1);
}

.botao{
    cursor: pointer;
}

.botao:hover{
    transform: scale(1.1);
}

.btn{
    cursor: pointer;
    border-style: solid;
    color: white;
    border-width: 1px;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    width: 100px;
    height: 30px;
}

.btn-small{
    width: 30px;
}

.btn-medium{
    width: 90px;
}

.btn-large{
    width: 140px;
}

.btn:hover{
    background-color: lightsalmon;
    transform: scale(1.1);
}

.btn-black{
    background-color: black;
}

.btn-green{
    background-color: green;
}

.btn-blue{
    background-color: blue;
    width: 180px;
    height: 35px;
}

.btn-red{
    background-color: red;
}

.btn-gray{
    background-color: lightgray;
    color: black;
}

/*Estilo dos quadros externos*/
.quadro{
    background-color: snow;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 80%;
    max-height: 80vh;
}

.qdr-small{
    width: 50%;
}

.qdr-medium{
    width: 60%;
}

.qdr-large{
    width: 90%;
}

/*Estilo dos páginas*/
.card{
    text-align: center;
    background-color: snow;
    overflow: auto;
    height: 340px;
}

.crd-primary{
    background-color: #FF914E;
}

.crd-secondary{
    background-color: #D9D9D9;
}

.crd-tertiary{
    background-color: #0A3876;
}

.crd-white{
    background-color: snow;
}

.card p{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

.card label{
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    color: tomato;
}

.card input{
    font-weight: normal;
    font-size: 14px;
    background-color: #ff914e;
    border: none;
    border-radius: 15px;
    height: 20px;
    padding: 5px;
    box-shadow: 4px 4px 1px #D9D9D9;
}

.card select{
    font-weight: normal;
    font-size: 14px;
    background-color: #ff914e;
    border: none;
    border-radius: 15px;
    height: 30px;
    padding: 5px;
    box-shadow: 4px 4px 1px #D9D9D9;
    cursor: pointer;
}

.range{
    font-weight: normal;
    font-size: 14px;
    background-color: #ff914e;
    border: none;
    border-radius: 15px;
    height: 20px;
    padding: 5px;
    box-shadow: 4px 4px 1px #D9D9D9;
}

.wd-small{
    width: 20%;
}

.wd-medium{
    width: 50%;
}

.wd-large{
    width: 80%;
}

.wd-full{
    width: 100%;
}

.hd-small{
    height: 50px;
}

.hd-medium{
    width: 100px;
}

.hd-large{
    width: 150px;
}

.hd-small{
    border-radius: 5px;
}

.rd-medium{
    border-radius: 20px;
}

.rd-large{
    border-radius: 30px;
}

.pd-small{
    padding: 5px;
}

.pd-medium{
    padding: 20px;
}

.pd-large{
    padding: 30px;
}

.mg-small{
    margin: 5px;
}

.mg-medium{
    margin: 20px;
}

.mg-large{
    margin: 30px;
}

.dpy-flex{
    display: flex;
}


.icon{
    width: 35px;
    position: fixed;
    cursor: pointer;
    overflow-y: auto;
}

.icon:hover{
    transform: scale(1.1);
}

.icn-home{
    top: 1%;
    left: 1%;
}

.icn-fechar{
    top: 1%;
    right: 1%;
}

.icn-logoff{
    top: 1%;
    left: 1%;
}

.icn-ajuda{
    bottom: 1%;
    left: 1%;
}

.icn-limpar{
    bottom: 1%;
    right: 1%;
}

.text{
    font-family: Nunito;
    font-weight: normal;
    margin: 20px;
}

.tex-small{
    font-size: 18px;
}

.tex-medium{
    font-size: 30px;
}

.tex-large{
    font-size: 40px;
}

.mensagem{
    border-radius: 20px;
    padding: 30px;
    height: 200px;
}

.mensagem p{
    font-size: 25px;
}

.ajuda{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 30px;
    bottom: 1%;
    left: 1%;
}

.ajuda img{
    width: 70px;
    cursor: pointer;
}

.ajuda img:hover{
    transform: scale(1.1);
}

.popup {
    display: none;
    position: absolute;
    text-align: center;
    width: 700px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightseagreen;
    box-shadow: 0 4px 4px gray;
}

.opc{
    opacity: 50%;
}

.perfil{
    position: fixed;
    cursor: pointer;
}

.perfil:hover{
    transform: scale(1.1);
}

.prf-lef{
    top: 20%;
    left: 4%;
}

.prf-rig{
    top: 20%;
    right: 4%;
}